.serif {
    font-family: serif;
    font-size: 20px;
}

.sans-serif {
    font-family: sans-serif;
    font-size: 20px;
}

.monospace {
    font-family: monospace;
    font-size: 20px;
    background-color: #f0f0f0;
    padding: 5px
}

.system {
    /* These will always be available, you have to put one of these at the end */
    font-family: monospace, serif, sans-serif;
    font-size: 20px;
    padding: 5px
}

/* Google font */
.google-title {
    font-family: "Poppins", sans-serif;
}

.google-text {
    font-family: "Inter", sans-serif;
}