/* RESET */
*{
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif
}

h1,
h2 {
    margin: 20px 0;
}

.box-model {
    margin-bottom: 30px;
}

.content {
    width: 200px;
    padding: 20px;
    border: 5px solid #3498db;
    margin: 10px;
    background: #e8f4f8;
    text-align: center;
}